.rd_breadcrumb{
    padding: 230px 0 140px;
}
.rd_breadcrumb_wrapper{
    .title{
        font-size: 90px;
        font-weight: 700;
        line-height: 100px;
    }
    .rd_breadcrumb_link{
        display: flex;
        align-items: center;
        margin-top: 35px;
        a, p, .separator{
            text-transform: uppercase;
            color: $text_color_1;
            font-size: 30px;
            font-weight: 700;
            line-height: 1;
        }
        .separator{
            margin: 0 14px;
        }
        a{
            color: $base_color_1;
        }
    }
}