.rd_header_part{
	background: rgb(11,186,251);
    background: linear-gradient(90deg, rgba(11,186,251,1) 0%, rgba(66,133,236,1) 100%, rgba(253,29,29,1) 100%);
}
.navbar-toggle{
	background: transparent;
    border: 0px solid transparent;
	.icon-bar {
		width: 15px;
        height: 2px;
		display: block;
		-webkit-transition: all 0.2s;
		transition: all 0.2s;
		margin: 3px 0;
		background: #fff;
	}
} 
.search_bar, .cart_area{
	position: relative;
	margin-right: 30px;
	cursor: pointer;
	i{
		color: $white;
		font-size: 16px;
	}
	.count{
		background-color: $base_color_1;
		font-size: 11px;
		height: 13px;
		width: 13px;
		border-radius: 50%;
		color: $white;
		display: inline-grid;
		place-items: center;
		position: absolute;
		right: -6px;
        top: -3px;
		line-height: 1;
	}
}
.rd_header_part{
	position: relative;
	@media (min-width: 1200px){
		box-shadow: - 15.893px 8.45px 24px 0px rgba(0, 1, 1, 0.16);
    }
	.header_page_scroll{
		position: absolute;
		left: 0;
		right: 0;
		margin: 0 auto;
		text-align: center;
		bottom: -33px;
		height: 20px;
		width: 20px;
		display: inline-grid;
		place-items: center;
		background-color: $white;
		border-radius: 50%;
		box-shadow: 0px 1px 16px 0px rgba(0, 1, 1, 0.14);
		img{
			margin-top: -3px;
		}
	}
}
@media (min-width: 1200px){
	.navbar-brand{
		flex: 20% 0 0;
	}
	.navbar-nav{
		flex: 60% 0 0;
		justify-content: center;
	}
	.header_meta_content {
		flex: 20% 0 0;
	}
}
/* ANIMATED X */
.navbar-toggle .icon-bar:nth-of-type(1) {
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-transform-origin: 10% 10%;
	-ms-transform-origin: 10% 10%;
	transform-origin: 10% 10%;
}

.navbar-toggle .icon-bar:nth-of-type(2) {
	opacity: 0;
	filter: alpha(opacity=0);
}

.navbar-toggle .icon-bar:nth-of-type(3) {
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-transform-origin: 10% 90%;
	-ms-transform-origin: 10% 90%;
	transform-origin: 10% 90%;
}

/* ANIMATED X COLLAPSED */
.navbar-toggle.collapsed .icon-bar:nth-of-type(1) {
	-webkit-transform: rotate(0);
	-ms-transform: rotate(0);
	transform: rotate(0);
}

.navbar-toggle.collapsed .icon-bar:nth-of-type(2) {
	opacity: 1;
	filter: alpha(opacity=100);
}

.navbar-toggle.collapsed .icon-bar:nth-of-type(3) {
	-webkit-transform: rotate(0);
	-ms-transform: rotate(0);
	transform: rotate(0);
}
/* END ANIMATED X */

.rd_header_part{
	.navbar-nav{
		.nav-link{
			font-size: 17px;
			font-weight: 500;
			color: $white;
			padding: 0 20px;
			line-height: 1;
			@include transform_time(.3s);
			&:hover{
				color: #95c748;
			}
		}	
		.nav-item{
		    &:not(:last-child){
				.nav-link{
					border-right: 2px solid rgba($color: $white, $alpha: .2);
				}
			}
		}
	} 
}
@media #{$tab}{
	.rd_header_part {
		.navbar{
			padding: 24px 0;
		}
		a.navbar-brand {
			margin-bottom: -68px;
		}
	}
}