.rd_text_box{
    margin-top: 65px;
    @media #{$tab}{
        margin-top: 20px;
    }
    .sub_title{
        font-size: 30px;
        font-weight: $font_medium;
        font-family: $body_font;
        line-height: 48px;
        margin-bottom: 0;
        @media #{$tab}{
            font-size: 18px;
            line-height: 24px;
        }
        @media #{$medium_device}{
            font-size: 22px;
            line-height: 26px;
        }
        br{
            display: none;
        }
    }
    .title{
        margin-bottom: 16px;
        @media #{$tab}{
            font-size: 26px;
            line-height: 44px;
            margin-bottom: 45px;
        }
        @media #{$medium_device}{
            font-size: 36px;
            line-height: 44px;
            margin-bottom: 45px;
        }
        &.mb_55{
            margin-bottom: 55px;
        }
        &.mb_35{
            margin-bottom: 35px;
        }
    }
    .description{
        font-size: 30px;
        line-height: 48px;
        .font-medium{
            font-weight: 500;
        }
        @media #{$tab}{
            font-size: 14px;
            line-height: 22px;
            font-weight: 500;
        }
        @media #{$medium_device}{
            font-size: 22px;
            line-height: 28px;
        }
        @media #{$big_screen}{
            font-size: 28px;
            line-height: 42px;
            br{
                display: none;
            }
        }
    }
    @media #{$tab}{
        .description.mt-5{
            margin-top: 20px !important;
        }
    }
    .cu_btn{
        margin-top: 46px;
    }
}
.text_box_shape{
    position: relative;
    z-index: 1;
}
.rd_text_box{
    .cu_btn.btn_1{
        br{
            display: none;
        }
        @media #{$tab}{
            position: relative;
            text-align: left;
            padding-left: 55px;
            width: 100%;
            img{
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 20px;
                max-width: 20px;
            }
            br{
                display: block;
            }
        }
    }
}
@media #{$medium_device}{
    .rd_section {
        margin-bottom: 60px;
    }
}
.rd_text_box_img.ml_135 {
    margin-left: -119px;
}
@media #{$big_screen}{
    .rd_section {
        margin-bottom: 60px;
    }
    .rd_text_box_img.ml_135 {
        margin-left: -119px;
    }
}

@media #{$tab}{
    .rd_section {
        margin-bottom: 115px;
    }
    .rd_text_box_img{
        position: absolute;
        right: 0;
        bottom: -56px;
        max-width: 175px;
        z-index: 8;
    }
    .text_box_shape_style_2{
        .rd_text_box_img{
            right: 0;
            bottom: -45px;
            max-width: 157px;
        }
    }
    .text_box_shape_style_3{
        .rd_text_box_img{
            right: 0;
            bottom: -96px;
            max-width: 166px;
        }
    }
    .text_box_shape_style_4{
        .rd_text_box_img{
            right: 0;
            bottom: -40px;
            max-width: 192px;
        }
    }
}
@media (max-width: 380px){
    .rd_text_box_img{
        max-width: 103px !important;
        bottom: -20px !important;
    }
    .text_box_shape.text_box_shape_style_3{
        .rd_text_box_img{
            bottom: -48px !important;
        }
    }
}
@media (min-width: 380px) and (max-width: 576px){
    .rd_text_box_img{
        max-width: 155px !important;
    }
    .text_box_shape.text_box_shape_style_3{
        .rd_text_box_img{
            max-width: 141px !important;
        }
    }
}
@media (min-width: 576px) and (max-width: 768px){
    .text_box_shape.text_box_shape_style_3{
        .rd_text_box_img{
            max-width: 185px !important;
        }
    }
}
@media (min-width: 768px) and (max-width: 1200px){
    .rd_section.text_box_shape.text_box_shape_style_3{
        .rd_text_box_img{
            max-width: 469px;
        }
        .rd_text_box_img.ml_135 {
            margin-left: 0;
        }
    }
}

@media #{$tab_device}{
    .rd_text_box_img{
        max-width: 234px !important;
    }
}
.bank_card_list{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    a:nth-child(1) {
        background-position: -9px -44px;
    }
    .bank_card_list a {
        height: 25px;
        width: 42px;
    }
    .snippets_img {
        background-image: url(../images/snippets.png);
        background-repeat: no-repeat;
    }
}

.rd-gray-bg-line{
    background-color: #f6f6f6;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0;
}
.section_title{
    .title{
        line-height: 1;
        @media (min-width: 413px) and (max-width: 991px) {
            font-size: 36px;
        }
        @media (max-width: 414px) {
            font-size: 28px;
        }
    }
    .sub_title{
        line-height: 50px;
        font-family: $body_font;
        @media #{$xs_mobile}{
            line-height: 26px;
            font-size: 18px;
        }
    }
}
@media (min-width: 1200px){
    .section_title_wrapper{
        margin-top: 260px;
        margin-bottom: -251px;
    }
    .text_box_shape_style_2{
        .rd_text_box{
            margin-top: 256px;
        }
        .section_title_wrapper{ 
            margin-top: 94px;
            margin-bottom: -311px;
        }
    }
    .text_box_shape_style_3{
        .rd_text_box{
            margin-top: -125px;
        }
        .section_title_wrapper{ 
            margin-top: 145px;
            margin-bottom: -173px;
        }
    }
    .text_box_shape_style_4{
        .rd_text_box{
            margin-top: 0px;
        }
        .section_title_wrapper{ 
            margin-top: 145px;
            margin-bottom: -177px;
        }
    }
}
@media (min-width: 769px) and (max-width: 1200px) {
    .section_title_wrapper{
        margin-top: 260px;
        margin-bottom: -239px;
    }
    .text_box_shape_style_2{
        .rd_text_box{
            margin-top: 256px;
        }
        .section_title_wrapper{ 
            margin-top: 94px;
            margin-bottom: -361px;
        }
    }
    .text_box_shape_style_3{
        .rd_text_box{
            margin-top: -50px;
        }
        .section_title_wrapper{ 
            margin-top: 145px;
            margin-bottom: -173px;
        }
    }
    .text_box_shape_style_4{
        .rd_text_box{
            margin-top: 107px;
        }
        .section_title_wrapper{ 
            margin-top: 145px;
            margin-bottom: -177px;
        }
    }
}
